.brothers-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.brothers-modal {
  position: relative; /* Ensure relative positioning for the button */
  background: white;
  padding: 3vh;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  width: 80vw;
  max-height: 60vh;
  
}

.brothers-close-button {
  position: absolute;
  top: 0vh;
  right: 0vh;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1002;
  color: #333;
}


.brothers-container {
  background-color: white;
  border-radius: 12px;
  width: 68vw;
  height: 42vh;
  
}


.brothers-layout {
  margin-bottom: 2vh;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.brothers-svg {
  background-color: #f9fafb;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 30vh;
  font-size: 1.5rem;
}



.brothers-player-name {
  font-size: 1rem;
  
}


.brothers-controls-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 50vw;
  align-items: center;
  font-size: 0.5rem;
  margin-left: 9vw;
}

.brothers-adder,
.brothers-remover {
  display: flex;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  width: 60vw;
  
}

.remove-btn {
  background-color: #ef4444;
}

.remove-btn:hover {
  background-color: #b91c1c;
}


.boy-name {
  fill: white;
  stroke: #0000ff;
  stroke-width: 2px;
  paint-order: stroke;
  stroke-linejoin: round;
  
}

.girl-name {
  fill: white;
  stroke: #ff00ff;
  stroke-width: 2px;
  paint-order: stroke;
  stroke-linejoin: round;
}
